{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<img src="{% static 'portfolio/thebigbang.jpg' %}"  class="img-fluid"><br><br>
<div class="text-center">
    <h5>THE VZRYV</h5>
    <p>Научно-популярный лекторий, помогающий исследовать мир, познавая себя</p><br>
    <h5>SCIENCE</h5>
    <p>Уважаем прошлое науки, поддерживаем настоящее и верим в ее будущее</p><br>
    <h5>STEM</h5>
    <p>Фанаты математики и вещаем о STEM-сфере, верим, что каждый может найти в ней себя</p><br>
    <h5>US</h5>
    <p>Стремимся помогать и поддерживаем любую инициативу сделать науку доступнее</p>   
</div>

{% endblock %}